node_modules/
.env
.env.*
!.env.example
.env.local
.DS_Store
Thumbs.db
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
coverage/
dist/
build/
/.cache
debug.log
logs/
*.log
/.parcel-cache
/.turbo
/.next
/.vercel

public/uploads/
uploads/
tmp/
temp/
data/
db.sqlite
*.sqlite
*.sqlite3
*.db

*.pem
*.key

.history
.vscode/*
!.vscode/settings.json

!uploads/.gitkeep
!public/uploads/.gitkeep

# macOS
.DS_Store
